@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #0F1214;
    font-family: Roboto, sans-serif;
    color: white;
    line-height: 28px;
    letter-spacing: 0em;
}

