@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

body {
    background-color: #E5DCD7;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
}
