@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #E5DCD7;
    font-family: Roboto, sans-serif;

    line-height: 28px;
    letter-spacing: 0em;
}