.tableTitle {
  display:flex;
  align-items:center;
  font-size: 20px;
  font-weight: bold;
}

.tableTitleEvent {
  display:flex;
  align-items:center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom:-35px;
}

.table {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #E5DCD7;
  border: 1px solid #84202A;
  border-radius: 9px;
  overflow:hidden;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;
}

.rank {
  width: 80px;
}

.score {
  width: 200px;
}

.team {
  width: 310px;
}

.event {
  width: 450px;
}

.header-cell {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  width: auto; /* Adjusted to fit content */
  min-width: 132.75px; /* Minimum width */
  height: 44px;
  background: #28191D;
  border-bottom: 1px solid #CFA1A4;
}

/* Body Cell */
.body-cell {
  /* Body Cell */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
  margin-top: 5px;
  height: 64px;

  background: #FFFFFF;
  border: 0px solid #CFA1A4;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: #28191D;
}

/* Header */
.header {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #CFA1A4;
}

/* Cell */
.cell {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px;
gap: 10px;
background: #CFA1A4;
border-radius: 3px;

/* Font */
color: #E5D5D1;
font-weight: normal;
}

.teamBox {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  background: #84202A;
  border-radius: 3px;
  font-weight: normal;
  color: #E5D5D1;
}

.scoreDisplay {
  flex-direction: row;
  padding: 8px;
  border: 1px solid #000;

}

.location {
color: #CFA1A4;
}

.bg-opacity-65 {
background-color: rgba(255, 255, 255, .5); /* Alternate color row settings */
}