.table {
/* Table */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #E5DCD7;
    border: 1px solid #84202A;
    border-radius: 9px;
    overflow:hidden;
  }

    .col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
  }

  .header-cell {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    width: auto; /* Adjusted to fit content */
    min-width: 132.75px; /* Minimum width */
    height: 44px;
    background: #28191D;
    border-bottom: 1px solid #CFA1A4;
  }
  
  /* Body Cell */
  .body-cell {
    /* Body Cell */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;

    width: 262px;
    height: 64px;

    background: #FFFFFF;
    border: 0px solid #CFA1A4;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

/* Header */
.header {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #CFA1A4;
}

/* Program Tag */
.program-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    width: 45px;
    height: 25px;
    background: #84202A;
    border-radius: 1px;
}

/* VIQRC */
.viqrc {
    width: 35px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E5D5D1;
}

/* Cell */
.cell {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #28191D;
}

/* WORKSHOP */
.workshop {
    width: 66px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #84202A;
}

/* VRC */
.vrc {
  /* Program Tag */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;

  width: 33px;
  height: 25px;

  background: #28191D;
  border-radius: 1px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* VEXU */
.vexu {
    width: 30px;
    height: 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #84202A;
}
